@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

$dark1: #156064ff;
$dark2: #713e5aff;
$light1: #f8e16cff;
$playing: #42e2b8ff;
$paused: #fb8f67ff;

$font1: "Architects Daughter", sans-serif;
