@import "../styles/variables.scss";

.btn {
  font-family: $font1;
  font-size: 2rem;
  margin: 20px;
  padding: 10px;
  border-radius: 2rem;
  background-color: $light1;
  width: 300px;
  color: $dark2;

  border: none;

  &--selected {
    background-color: $playing;
    &:hover {
      cursor: pointer;
      box-shadow: 5px 5px $dark2;
    }
  }

  &:hover {
    cursor: pointer;
    box-shadow: 2px 5px $dark2;
  }

  &:focus {
    outline: none;
  }
}
