@import "./styles/variables.scss";

html {
  position: fixed;
}

body {
  font-family: $font2;
  box-sizing: border-box;
  background-color: rgb(34, 34, 78);
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

p {
  font-family: $font1;
  margin: auto;

  font-size: 0.5rem;
  text-align: center;
  color: rgb(226, 226, 234);

  a {
    color: rgb(226, 226, 234);
  }
}

.p2 {
  color: $light1;
}

h1 {
  font-size: 3.5rem;
  color: $playing;
  text-align: center;
  margin: 2rem;
}

.footer {
  margin-top: 10px;
  background-color: darken($dark2, 12%);
  z-index: 99;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 0.6rem;
  font-family: Helvetica, sans-serif;
  text-align: center;

  .coffeeLink {
    padding-bottom: 0.2rem;

    p {
      color: $playing;
    }
  }

  .copyright {
    color: $light1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;

    a {
      color: $light1;
    }
  }
}

@media screen and (min-width: 700px) {
  .h1 {
    font-size: 5rem;
  }
  p {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 321px) and (max-width: 699px) {
  h1 {
    font-size: 1rem;
  }

  .coffeeLink p {
    font-size: 0.6rem;
  }

  .copyright p {
    font-size: 0.4rem;
  }
}

@media screen and (max-width: 320px) {
  h1 {
    font-size: 1.2rem;
  }

  .coffeeLink p {
    font-size: 1rem;
  }

  .copyright p {
    font-size: 0.5rem;
  }
}
